.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: 0.15;
  overflow: horizontal;

  &__content {
    height: 100%;
    width: 100%;
    //fill the entire parrent but maintaining the aspect ratio
    //and if the part doesn't fit it is clipped
    object-fit: cover;
  }
}
