/* Normalize is not longer needed */

/* resetting the properties for all the browsers */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* better practice */
  box-sizing: inherit;
}

/* root  elements*/

html {
  /* we use 10px for 1rem for having simple calculations :D */
  /* nice technique */
  /* it is bad practice to put a magic value because it will override the capability of the user to change the font=> so we use percent of the default value(16px)=10px */
  //what 1rem is
  font-size: 62.5%;
  /* font-size: 10px; */

  // @media (max-width: 600px) {
  //   font-size: 50%; //1 rem == 10px; 10px/16px = 62.5%
  // }

  // @include respond-phone {
  //   font-size: 50%;
  // }

  //ORDER : BASe +trypography >general layout +grid >page layout >components

  //scalling the font-size instead of default 1rem=10px we define the size 1rem= <10 , >10
  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 30%; //1 rem = 4px;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  //the typography moved into typography

  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

//change the selected text style
::selection {
  background-color: $color-primary;
  color: $color-white;
}
